<div class="login-form-container">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mdl-textfield autofocus label="Login" id="loginControl" type="text" [formControl]="login" floating-label></mdl-textfield>
    </p>
    <p>
      <!-- <input placeholder="Paswword" id="passwordControl" type="password" [formControl]="password" /> -->
      <mdl-textfield id="passwordControl" label="Password" type="password" [formControl]="password" floating-label></mdl-textfield>
      <app-help [field]="loginForm.get('password')" [messages]="{required: 'Entrez votre mot de passe',
                      checkPassword: '6 caractères minimum'}"></app-help>
    </p>
    <app-button [disabled]="!loginForm.valid" mdlColor="primary" libelle="Valider" mdlType="raised" icon="check"
      (clicked)="onClicked($event)">
    </app-button>
    <!-- <button mdl-button mdl-colored="primary" mdl-button-type="raised" type="submit" [disabled]="!loginForm.valid">submit</button> -->
  </form>
</div>
