<div class="app-container" mdl-shadow="2" [ngClass]="appClass">
  <mdl-layout mdl-layout-fixed-header [mdl-layout-fixed-drawer]="false" #mdlLayout1="mdlLayout">

    <!-- Top page bar -->
    <mdl-layout-header>

      <mdl-layout-header-row class="main">

        <mdl-layout-title>
          {{title}}
        </mdl-layout-title>

        <mdl-layout-spacer></mdl-layout-spacer>

        <!-- Header menu -->
        <app-navigation></app-navigation>

      </mdl-layout-header-row>

    </mdl-layout-header>



    <!-- Page content -->

    <mdl-layout-content>

      <router-outlet></router-outlet>

    </mdl-layout-content>

  </mdl-layout>
</div>
