<div class="app-container" mdl-shadow="2" [ngClass]="appClass">
  <mdl-layout mdl-layout-fixed-header [mdl-layout-fixed-drawer]="false" #mdlLayout1="mdlLayout">

    <!-- Top page bar -->
    <mdl-layout-header>

      <mdl-layout-header-row class="main">

        <mdl-layout-title>
          {{title}}
        </mdl-layout-title>

        <mdl-layout-spacer></mdl-layout-spacer>

        <!-- Header menu -->
        <app-navigation></app-navigation>

      </mdl-layout-header-row>

    </mdl-layout-header>



    <!-- Page content -->

    <mdl-layout-content>
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--10-col">
          <router-outlet></router-outlet>
        </div>
        <div class="mdl-layout-spacer"></div>
      </div>
    </mdl-layout-content>

  </mdl-layout>
</div>
